<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="gfXjSscDAO" class="com.gf.ssc.xjssc.dao.hibernate.XjSscDAOHibernate">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>	
	<bean id="gfXjSscService" parent="hibernateTransactionProxy">
	    <property name="target">
	        <bean class="com.gf.ssc.xjssc.service.impl.XjSscServiceImpl">
	            <property name="gfXjSscDAO"><ref local="gfXjSscDAO"/></property>
	            <property name="userService"><ref bean="userService"/></property>
	            <property name="gaService"><ref bean="gaService"/></property>
	        </bean>
	    </property>
	</bean>

	<!-- 初始化 -->
	<bean name="initGfXjSscSessionJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.ssc.xjssc.service.impl.InitXjSscSession</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfXjSscService"><ref bean="gfXjSscService" /></entry>
			</map>
		</property>
	</bean>
	<bean id="initGfXjSscSession" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="initGfXjSscSessionJob" />
		</property>
		<property name="cronExpression">
			<value>0 0 3 * * ?</value>
		</property>
	</bean> 

	<!-- 抓取开奖结果 -->
	<bean name="fetchGfXjSscResultJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.ssc.xjssc.service.impl.FetchXjSscResult</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfXjSscService"><ref bean="gfXjSscService" /></entry>
			</map>
		</property>
	</bean>
	<bean id="fetchGfXjSscResult" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfXjSscResultJob" />
		</property>
		<property name="cronExpression">
			<value>12 0/10 10-23 * * ?</value>
		</property>
	</bean>
	<bean id="fetchGfXjSscResult1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfXjSscResultJob" />
		</property>
		<property name="cronExpression">
			<value>12 0/10 0-2 * * ?</value>
		</property>
	</bean>
	
	
	<!-- 更新冷热排行-->
	<bean name="fetchGfXjSscTrendJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.ssc.xjssc.service.impl.UpdateXjSscGaTrend</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfXjSscService"><ref bean="gfXjSscService" /></entry>
			</map>
		</property>
	</bean>
	<bean id="fetchGfXjSscTrend" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfXjSscTrendJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/10 10-23 * * ?</value>
		</property>
	</bean>
	<bean id="fetchGfXjSscTrend1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfXjSscTrendJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/10 0-2 * * ?</value>
		</property>
	</bean>
	
	
	<!-- 更新合买-->
	<bean name="fetchCountGfXjSscJointBetJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.ssc.xjssc.service.impl.CountXjSscJoinBet</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfXjSscService"><ref bean="gfXjSscService" /></entry>
			</map>
		</property>
	</bean>
    <bean id="fetchCountGfXjSscJointBet" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchCountGfXjSscJointBetJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/10 10-23 * * ?</value>
		</property>
	</bean>
    <bean id="fetchCountGfXjSscJointBet1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchCountGfXjSscJointBetJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/10 0-2 * * ?</value>
		</property>
	</bean>

	<!-- 开奖监控时间 -->
	<!--<bean id="openGdK10" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="openGdK10Job" />
		</property>
		 每天的x点到x点 每x秒钟触发开奖计算，因为要等官方开奖时间，故这里只是更新状态为开奖中
		<property name="cronExpression">
			<value>0/5 * 8-22 * * ?</value>
		</property>
	</bean>-->

	<!-- 自动投注触发器(不用管) -->
	<!-- <bean id="autoBetK10" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="autoBetK10Job" />
		</property>
		每天的9点到23点 每5分钟触发，具体说明见附录
		<property name="cronExpression">
			<value>0 2/5 8-23 * * ?</value>
		</property>
	</bean> -->
	<!-- 监控 
	<bean name="monitorK10Job" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.k10.gdk10.service.impl.MonitorGdK10</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="xjSscService"><ref bean="xjSscService" /></entry>
			</map>
		</property>
	</bean>-->
	<!-- 开奖仅更新场次状态为开奖中
	<bean name="openK10Job" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.k10.gxk10.service.impl.OpenK10Result</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="xjSscService"><ref bean="xjSscService" /></entry>
			</map>
		</property>
	</bean>-->
	
	<!-- 自动投注(不处理) -->
	<!-- <bean name="autoBetK10Job" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.pce.service.impl.AutoBetK10</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="k10Service"><ref bean="k10Service" /></entry>
			</map>
		</property>
	</bean> -->
	<!-- 监控场次时间 -->
	<!--<bean id="monitorGdK10" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="monitorGdK10Job" />
		</property>
		每天的x点到x点每小时监控一次是否已经初始化 
		<property name="cronExpression">
			<value>0 0 3-23 * * ?</value>
		</property>
	</bean>-->

	<!-- 加载 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="initGfXjSscSession" />
				<ref local="fetchGfXjSscResult"/>
				<ref local="fetchGfXjSscResult1"/>
				<ref local="fetchCountGfXjSscJointBet"/>	
				<ref local="fetchCountGfXjSscJointBet1"/>	
				<ref local="fetchGfXjSscTrend"/>
				<ref local="fetchGfXjSscTrend1"/>
				<!--<ref local="monitorGdK10" />			
				<ref local="openGdK10" />-->
			</list>
		</property>
	</bean>
</beans>
