@CHARSET "UTF-8";

#slider{height: 290px;}
.banner { position: relative; overflow: auto; text-align: center;}
.banner li{list-style: none; }
.banner ul li{float: left; }
#slider {width: 100%;}
#slider .dots { position: absolute; left: 0; right: 0; bottom: 0px;}
#slider .dots li{display: inline-block; width: 10px; height: 10px; margin: 0 4px; text-indent: -999em; border: 2px solid #fff; border-radius: 6px; cursor: pointer; opacity: .4; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s;}
#slider .dots li.active {background: #fff; opacity: 1;}
#slider .arrow {position: absolute; top: 200px;}
.banner ul li img{margin: 0 auto;display: block;width:765px;height:230px;}

.banner-box{position: relative;}
.banner-box .news-box{position: absolute;left: 50%;width: 230px;height: 280px;top: 0px;background-color: #fff;z-index: 99;margin-left: 270px;padding: 6px 8px;}
.banner-box .news-box .tab{line-height: 40px;border-bottom: 1px solid #eee;overflow: hidden;}
.banner-box .news-box .tab .tabname{display: block;width: 50%;float: left;text-align: center;}
.banner-box .news-box .tab .active{border-bottom:1px solid #FE5A51;}
.banner-box .news-box .news-help{}
.banner-box .news-box .news-help li{height: 25px;line-height: 25px;overflow: hidden;list-style:circle;padding-left: 5px;}

.banner-box .banner-wrap{width:1000px;margin:0 auto;padding:10px 0 0 0;}
.banner-box .banner-wrap:after{content:"";display:block;clear:both;}
.banner-box .banner-wrap .home-game-menu{float:right;width:240px;height:230px;background:#ccc;}
.banner{width:740px;height: 230px;float:left;}

.indexcontent{margin-top: 10px;}
.indexcontent .leftcontent{width: 230px;float: left;}
.indexcontent .rightcontent{width: 755px;float: right;}

.hbox{background-color: #f5f5f5;padding: 5px 5px;}
.hbox .data-box{background-color: #fff;padding:0 5px;}
.hbox .title{height: 35px;line-height: 35px;}
.hbox .title .subtitle{font-size: 13px;cursor:pointer}
.hbox .title .selected{background-color: #f72F17;color: #ffffff;}
.hbox .title .main{color: #444;font-weight: bold;}
.hbox .title .more{float: right;color: #999;}
.hbox .caizhongkj{}
.caizhongkj .kj-cell{border-top: 1px dashed #eee;}
.caizhongkj .kj-cell .open-number{padding-bottom: 7px;}
.caizhongkj .kj-cell .title{line-height: 28px;}
.caizhongkj .kj-cell .title .main{color: #1e50a2;padding:0 5px;}
.caizhongkj .kj-cell .title .subtitle{color: #999;font-size: 13px;}
.caizhongkj .kj-cell .open-time {font-size: 13px;}
.caizhongkj .kj-cell .open-time .time{color: #666;}
.caizhongkj .kj-cell .open-time .wb{color: #999;float: right;padding: 0 3px;}

.paihangbang{margin-top: 10px;}
.paihangbang .data-box .title{color: #111;}
.paihangbang .data-box .item{line-height: 25px;color: #666;overflow: hidden;}
.paihangbang .data-box .paiming,.paihangbang .data-box .yonghuming,.paihangbang .data-box .jine,.paihangbang .data-box .gendan{float: left;display: block;text-align: center;}
.paihangbang .data-box .paiming{width: 45px;}
.paihangbang .data-box .yonghuming{width: 65px;}
.paihangbang .data-box .jine{width: 95px;}
.paihangbang .data-box .gendan{width: 35px;}
.paihangbang .data-box .zoushiimg{width: 100%;margin-top: 5px;}
.paihangbang .data-box .linkwb{overflow: hidden;}
.paihangbang .data-box .linkwb a{color: #007aff;padding: 5px;}

.rightcontent{}
.goucaibox{overflow: hidden;}
.goucaibox .title{height: 35px;line-height: 35px;background-color:#f5f5f5; padding-left: 10px;}
.goucaibox .title .icobox{}
.goucaibox .title .icobox .ico{background: url("/images/other.png") no-repeat;width: 15px;height: 15px;display: inline-block;margin-right: 3px;position: relative; top: 3px;margin-left: 5px;}
.goucaibox .title .icobox .ico-8{background-position: -29px -106px;}
.goucaibox .title .icobox .ico-m{background-position: -69px -107px;}
.goucaibox .title .icobox .ico-8h{background-position: 0 -156px; width: 19px;height: 17px;}

.lottery-hot-box{width: 520px;float: left;}
.lottery-hot-box .lottery-hot{padding: 0 15px;border-bottom: 1px solid #ddd;overflow: hidden;}
.lottery-hot-box .lottery-hot .tabs{margin: 15px 0 10px 0;overflow: hidden;}
.lottery-hot-box .lottery-hot .tabs .lable{margin: 0 10px 0 0px;display: block;float: left;}
.lottery-hot-box .lottery-hot .tabs .tab{width: 84px;text-align: center;margin: 0 3px;background-color: #e3e3e3;display: block;float: left;cursor:pointer;}
.lottery-hot-box .lottery-hot .tabs .active{background-color: #e60000;color: white;}
.lottery-hot-box .lottery-hot .contents{position: relative;}
.lottery-hot-box .lottery-hot .contents p{line-height: 35px;color: #666;}
.lottery-hot-box .lottery-hot .contents p:FIRST-CHILD{margin: 10px 0 3px;}
.lottery-hot-box .lottery-hot .contents .kind{font-weight: bold;}
.lottery-hot-box .lottery-hot .contents .note{font-size: 13px;}
.lottery-hot-box .lottery-hot .contents .btn-buy{position: absolute;text-align: center;background-color: #e60000;color: white;line-height: 32px;display: block;right: 20px;bottom: 15px;padding: 0 15px;height: 32px;}
#hotcqssc,#hotxjplu28,#hotxjssc,#hotsfpk10,#hotgxk10,#hotgd115{display: none;}


.winning-box{width: 225px;float: right;margin-top: 5px;}
.winning-box .hbox .winning-line{height: 330px;}
.winning-box .hbox .code-line{height: 170px;}
.winning-box .hbox .hbox-line{}
.winning-box .hbox .hbox-line .title-version{font-size: 14px;font-weight: 600;color: #444;width: 107px;display: table-cell;text-align: center;}
.winning-box .hbox .hbox-line .mui-active {border-bottom: 2px solid #FB2F00;color: #FB2F00;font-weight: normal;font-size: 14px;font-weight: 600;}
.winning-box .hbox .code{background: #fff;}
.winning-box .hbox .i-code{display: none;}
.winning-box .hbox .code img{width: 80%;margin-left: 10%;}
.winning-box .hbox .code .notes{color: #e60000;font-size: 12px;text-align: center;}
.winningslider{overflow: hidden;}
.winning-box .hbox .title{height: 25px;line-height: 20px;background-color: #f5f5f5;padding-left: 10px;}
.winningslider .flexbox{font-size: 13px;color: #444;overflow: hidden;height: 22px;line-height: 22px;padding: 0 10px;}
.winningslider .flexbox .kind,.winningslider .flexbox .winner,.winningslider .flexbox .award{display: block;float: left;}
.winningslider .flexbox .kind{width: 77px;}
.winningslider .flexbox .winner{margin: 0 3px 0 5px;display: none;}
.winningslider .flexbox .award{float: right;}

.ga-ver-qr{width: 225px;float: right;}
.ga-ver-qr .hbox .winning-line{height: 120px;}
.ga-ver-qr .hbox .code-line{height: 170px;}
.ga-ver-qr .hbox .hbox-line{}
.ga-ver-qr .hbox .hbox-line .title-version{font-size: 14px;font-weight: 600;color: #444;width: 107px;display: table-cell;text-align: center;}
.ga-ver-qr .hbox .hbox-line .mui-active {border-bottom: 2px solid #FB2F00;color: #FB2F00;font-weight: normal;font-size: 14px;font-weight: 600;}
.ga-ver-qr .hbox .code{background: #fff;text-align:center;padding:19px 10px;}
.ga-ver-qr .hbox .i-code{display: none;}
.ga-ver-qr .hbox .code img{width:135px;}
.ga-ver-qr .hbox .code .notes{color: #e60000;font-size: 12px;text-align: center;}

.ad{}
.ad1{margin: 10px 0;}
.ad1 img {max-width: 100%;text-align: center;}
.groupbuy {border: 1px solid #ddd;}
.groupbuy .tabs {border-bottom: 1px solid #ddd;background: #f5f5f5;height: 30px;}
.groupbuy .tabs a {padding: 0 10px;line-height: 30px;display: inline-block;color: #666;}
.groupbuy .tabs a.current {background: white;height: 31px;}
.groupbuy .tabs a.more {float: right;color: #007aff;}


.rightcontent .news{margin:10px 0 ;overflow: hidden;}
.news h2 {padding: 0 10px;margin: 0;line-height: 36px;font-size: 16px;}
.news h2 {color: #666;border-bottom: 1px solid #ddd;}
.news .columns-2 {flex-wrap: wrap;}
.news .columns-2 > * {flex: 1 1 50%;}
.index-page.news h2 {padding: 0 10px;margin: 0;line-height: 36px;font-size: 16px;}
.news .category {padding: 15px 0 0 15px;width: 50%;float: left;}
.news .category .tag {display: inline-block;position: relative;width: 80px;height: 25px;line-height: 25px;text-align: center;margin-right: 5px;font-size: 16px;}
.news .category .tag em {position: absolute;left: 50%;margin-left: -6px;top: 13px;display: inline-block;color: #ff8e33;font-size: 20px;}
.news .category h3 {margin: 8px 0 5px 0;line-height: 30px;}
.news .category h3 a {font-size: 14px;}
.news .category ul {margin: 0;padding: 0 0 10px 0;height: 184px;}
.news .category ul li {line-height: 25px;margin: 0;padding: 0;list-style: none;font-size: 14px;}
.news .category:nth-child(1) ul, .news .category:nth-child(2) ul {border-bottom: 1px dashed #ddd;}
.news .category .tag {background: #ff8e33;color: white;}
.news .category ul li a {color: #2b2b2b;}
.news .category ul li:first-child {margin: 8px 0 2px 0;}
.news .category ul li:first-child a {color: #2b2b2b;font-weight: bold;line-height: 33px;}
.news .category ul li a:hover {color: #c9171e;text-decoration: underline;}


.bcastr_bg{background-image: url(../images/ban-bj.png);}
.leftphone{margin: 20px 30px 20px 100px;width: 300px;float: left;}
.leftphone img{width: 100%;}

.downloadbox{width: 350px;float: left;margin: 120px 0 0 50px;}
.downloadbox .downloadbtnbox{}
.downloadbox .downloadbtnbox img{width: 100%;}
.downloadbox .downloadbtnbox a{margin: 0px 0 30px 0;display: inline-block;}
.downloadbox .downloadcode img{width: 200px;text-align: center;margin: 0 auto;display: block;}


.float-all-kinds-line{position: relative;}
.float-all-kinds-line .left-box{background-size: contain;background-repeat: no-repeat;height: 100%;width: 10%;position: fixed;z-index: 999;left: 0px;background-image: url(../images/index_bg_left.png);}
.float-all-kinds-line .right-box{background-size: contain;background-repeat: no-repeat;height: 100%;width: 10%;position: fixed;z-index: 999;right: 0px;background-image: url(../images/index_bg_right.png);}
.float-all-kinds-line .lottery-type{position: absolute;height: 5%;top: 9%;width: 100%;}
.float-all-kinds-line .close{position: absolute;height: 4%;top: 40%;width: 100%;}
.float-all-kinds-line .left-box .qq-customer{position: absolute;height: 3%;top: 14.5%;width: 100%;}
.float-all-kinds-line .left-box .fast-recharge{position: absolute;height: 3%;top: 17.5%;width: 100%;}
.float-all-kinds-line .right-box .on-line-customer{position: absolute;height: 7%;top: 14%;width: 100%;}
/* .float-all-kinds-line .left-box{position: fixed;z-index: 999;left: 0px;top: 167px;}
.float-all-kinds-line .left-box .kindsbox,.right-box .kindsbox{width: 178px;font-size: 15px;}
.float-all-kinds-line .right-box{position: fixed;z-index: 999;right: 0px;top: 167px;}
.float-all-kinds-line .kindsbox #kinds{display: none;}
.float-all-kinds-line .kindsbox .kinds{position: absolute;border: 6px solid #e60000;z-index: 999;background-color: #fff;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell{border-bottom: 1px dashed #eee;padding: 1px 5px;overflow: hidden;line-height: 30px;z-index: 999;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell-not-img{}
.float-all-kinds-line .kindsbox .kinds .title{font-size: 18px;text-align: left;font-weight: 600;line-height: 30px;padding-left: 20px;}
.float-all-kinds-line .kindsbox .kinds .ico-hl{display:inline-block;width:23px;height:23px;line-height:22px;font-size:15px;text-align:center;color:#fff;background:red;font-weight:normal;border-radius:5px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell:HOVER{background-color: #f9f9f9;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell a{color: #444;}
.float-all-kinds-line .left-box .kindsbox .kinds .kinds-cell .session-type{margin: 0 5px;color: #666;width: 20px;display: -webkit-box;line-height: 20px;background-color: #eee;float: left;text-align: center;}
.float-all-kinds-line .right-box .kindsbox .kinds .kinds-cell .session-type{margin: 0 5px;color: #666;width: 20px;display: -webkit-box;line-height: 20px;background-color: #eee;float: right;text-align: center;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .yi-xuan-wu{margin: 13px 0;    height: 60px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .k-three{margin-top: 10px;}
.float-all-kinds-line .left-box .kindsbox .kinds .kinds-cell .session-box, .right-box .kindsbox .kinds .kinds-cell .session-box{color: red;width: 82px;float: left;padding-left: 0px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .other-box{display: none;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .session-title{color: #444;padding: ;font-size: 13px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .czlogo{float: left;width: 35px;height: 35px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .czlogo img{width: 100%;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .kind{float: left;font-size: 12px;padding: 0 5px;line-height: 34px;}
.float-all-kinds-line .kindsbox .kinds .kinds-cell .note{float: left;font-size: 12px;color: #fff;background: red;margin-top: 10px;height: 18px;line-height: 18px;padding: 0 2px;} */

.kinds .customer{border-top: 6px solid #e60000;height: 30px;font-weight: 900;font-size: 18px;text-align: center;}
.kinds .customer a{color: #e60000;}
.kinds .qr_code img{width: 90%;padding-left: 10%;padding-top: 2px;}
.kinds .qr_code{border-top: 6px solid #e60000;}
.kinds .qr_code_type{background-color: #e60000;color: #fff;padding-top: 5px;text-align: center;font-size: 14px;}
.kindsbox .qr_code_close_bg{position: absolute;top: 359px;width: 120px;border-top: 30px solid #e60000;border-left: 15px solid transparent;border-right: 15px solid transparent;left: 31px;}
.kindsbox .qr_code_close {position: absolute;top: 361px;width: 185px;text-align: center;color: #fff;}
.kindsbox .qr_code_close a{color: #fff;}

/*>1400*/
@media screen and (min-width: 1400px) {
	.float-all-kinds-line{position: relative;}
	.float-all-kinds-line .left-box{background-repeat: no-repeat;height: 100%;width: 10%;position: fixed;z-index: 999;left: 10px;background-image: url(../images/index_bg_left.png);}
	.float-all-kinds-line .right-box{background-repeat: no-repeat;height: 100%;width: 10%;position: fixed;z-index: 999;right: 10px;background-image: url(../images/index_bg_right.png);}
	
	.float-all-kinds-line .lottery-type{position: absolute;height: 4%;top: 8%;width: 100%;}
	.float-all-kinds-line .close{position: absolute;height: 3%;top: 35%;width: 100%;}
	.float-all-kinds-line .left-box .qq-customer{position: absolute;height: 2%;top: 13%;width: 100%;}
	.float-all-kinds-line .left-box .fast-recharge{position: absolute;height: 2%;top: 15.5%;width: 100%;}
	.float-all-kinds-line .right-box .on-line-customer{position: absolute;height: 5%;top: 13%;width: 100%;}
	/* .kindsbox .qr_code_close_bg{position: absolute;top: 368px;width: 120px;border-top: 30px solid #e60000;border-left: 15px solid transparent;border-right: 15px solid transparent;left: 31px;}
	.kindsbox .qr_code_close {position: absolute;top: 370px;width: 185px;text-align: center;color: #fff;}
	
	.float-all-kinds-line{}
	.float-all-kinds-line .left-box{position: fixed;z-index: 999;left: 10px;top: 167px;}
	.float-all-kinds-line .left-box .kindsbox,.right-box .kindsbox{font-size: 15px;}
	.float-all-kinds-line .right-box{position: fixed;z-index: 999;right: 10px;top: 167px;}
	.float-all-kinds-line .kindsbox #kinds{display: none;}
	.float-all-kinds-line .kindsbox .kinds{position: absolute;border: 6px solid #e60000;z-index: 999;background-color: #fff;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell{border-bottom: 1px dashed #eee;padding: 1px 5px;overflow: hidden;line-height: 30px;z-index: 999;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell-not-img{height: 80px;}
	.float-all-kinds-line .kindsbox .kinds .title{font-size: 18px;text-align: left;font-weight: 600;line-height: 40px;}
	.float-all-kinds-line .kindsbox .kinds .ico-hl{display:inline-block;width:23px;height:23px;line-height:22px;font-size:15px;text-align:center;color:#fff;background:red;font-weight:normal;border-radius:5px;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell:HOVER{background-color: #f9f9f9;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell a{color: #444;}
	.float-all-kinds-line .left-box .kindsbox .kinds .kinds-cell .session-type{margin: 0 5px;color: #666;width: 20px;display: -webkit-box;line-height: 20px;background-color: #eee;float: left;text-align: center;}
	.float-all-kinds-line .right-box .kindsbox .kinds .kinds-cell .session-type{margin: 0 5px;color: #666;width: 20px;display: -webkit-box;line-height: 20px;background-color: #eee;float: right;text-align: center;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .yi-xuan-wu{margin: 13px 0;    height: 60px;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .k-three{margin-top: 10px;}
	.float-all-kinds-line .left-box .kindsbox .kinds .kinds-cell .session-box, .right-box .kindsbox .kinds .kinds-cell .session-box{color: red;width: 103px;float: left;padding-left: 0px;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .other-box{display: none;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .session-title{color: #444;padding: 0;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .czlogo{float: left;width: 35px;height: 35px;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .czlogo img{width: 100%;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .kind{float: left;padding: 0 5px;line-height: 34px;}
	.float-all-kinds-line .kindsbox .kinds .kinds-cell .note{float: left;font-size: 12px;color: #fff;background: red;margin-top: 10px;height: 18px;line-height: 18px;padding: 0 2px;} */
}