@CHARSET "UTF-8";
html,body{pading:0;margin:0;
font-family: "Microsoft YaHei", Trebuchet MS, Arial,
		Verdana, Tahoma, "DejaVu Sans", "Liberation sans",
		"Bitstream Vera Sans", sans-serif;font-size:14px;}
h1,h2,h3,h4,h5,ul,p,form{padding:0px;margin:0px;}
.title{
		background-color: #f6f6f6;
		width: 100%;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		border-bottom: 1px solid #e9e9e9;
		padding-left: 8px;
		color: #666;
	}
img{border: 0;}
.content {padding: 5px;}
.imgs{width: 100%;max-width: 640px;}
.imgs img{width: 100%;max-width: 640px;}