<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="jxPick11DAO" class="com.xy.pick11.jxpick11.dao.hibernate.JxPick11DAOHibernate">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>	
	<bean id="jxPick11Service" parent="hibernateTransactionProxy">
	    <property name="target">
	        <bean class="com.xy.pick11.jxpick11.service.impl.JxPick11ServiceImpl">
	            <property name="jxPick11DAO"><ref local="jxPick11DAO"/></property>
	            <property name="userService"><ref bean="userService"/></property>
	             <property name="gaService"><ref bean="gaService"/></property>
	        </bean>
	    </property>
	</bean>

	<!-- 初始化期号-->
	<bean name="initJxPick11SessionJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.xy.pick11.jxpick11.service.impl.InitJxPick11Session</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="jxPick11Service"><ref bean="jxPick11Service" /></entry>
			</map>
		</property>
	</bean>
    <bean id="initJxPick11Session" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="initJxPick11SessionJob" />
		</property>
		<property name="cronExpression">
			<value>0 6 1 * * ?</value>
		</property>
	</bean>
	
	<!-- 抓取开奖结果 -->
	<bean name="fetchJxPick11ResultJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.xy.pick11.jxpick11.service.impl.FetchJxPick11Result</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="jxPick11Service"><ref bean="jxPick11Service" /></entry>
			</map>
		</property>
	</bean> 
	<bean id="fetchJxPick11Result" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchJxPick11ResultJob" />
		</property>
		<!--  每天的x点到x点间隔多少分钟抓取数据 这里是9点到23点，每隔10分钟抓取数据 -->
		<property name="cronExpression">
			<value>30 0/10 9-23 * * ?</value>
		</property>
	</bean>

	<!-- 开奖监控时间 -->
	<!--<bean id="openJxPick11" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="openJxPick11Job" />
		</property>
		 每天的x点到x点 每x秒钟触发开奖计算，因为要等官方开奖时间，故这里只是更新状态为开奖中
		<property name="cronExpression">
			<value>0/5 * 8-22 * * ?</value>
		</property>
	</bean>-->
	<!-- 自动投注触发器(不用管) -->
	<!-- <bean id="autoBetPick11" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="autoBetPick11Job" />
		</property>
		每天的9点到23点 每5分钟触发，具体说明见附录
		<property name="cronExpression">
			<value>0 2/5 8-23 * * ?</value>
		</property>
	</bean> -->
	
   

	<!-- 加载 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="initJxPick11Session" />
				<ref local="fetchJxPick11Result"/>
			</list>
		</property>
	</bean>
</beans>
