<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="cqSscDAO" class="com.xy.ssc.cqssc.dao.hibernate.CqSscDAOHibernate">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>	
	<bean id="cqSscService" parent="hibernateTransactionProxy">
	    <property name="target">
	        <bean class="com.xy.ssc.cqssc.service.impl.CqSscServiceImpl">
	            <property name="cqSscDAO"><ref local="cqSscDAO"/></property>
	            <property name="userService"><ref bean="userService"/></property>
	            <property name="gaService"><ref bean="gaService"/></property>
	        </bean>
	    </property>
	</bean>

	<!-- 初始化 -->
	<bean name="initCqSscSessionJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.xy.ssc.cqssc.service.impl.InitCqSscSession</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="cqSscService"><ref bean="cqSscService" /></entry>
			</map>
		</property>
	</bean>
	
	<!-- 抓取开奖结果 -->
	<bean name="fetchCqSscResultJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.xy.ssc.cqssc.service.impl.FetchCqSscResult</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="cqSscService"><ref bean="cqSscService" /></entry>
			</map>
		</property>
	</bean>
	
	
	<!-- 初始化时间 -->
	<bean id="initCqSscSession" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="initCqSscSessionJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean> 

	
	<!-- 定时抓去数据 -->
	<bean id="fetchCqSscResult1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchCqSscResultJob" />
		</property>
	<!--	每天的x点到x点间隔多少分钟抓取数据 -->
		<property name="cronExpression">
			<value>30 0/5 0-1 * * ?</value>
		</property>
	</bean>

	<!-- 定时抓去数据 -->
	<bean id="fetchCqSscResult2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchCqSscResultJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/10 10-21 * * ?</value>
		</property>
	</bean>

	<!-- 定时抓去数据 -->
	<bean id="fetchCqSscResult" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchCqSscResultJob" />
		</property>
		<property name="cronExpression">
			<value>30 0/5 22-23 * * ?</value>
		</property>
	</bean>


	<!-- 加载 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="initCqSscSession" />
				<ref local="fetchCqSscResult"/>
				<ref local="fetchCqSscResult1"/>
				<ref local="fetchCqSscResult2"/>
			</list>
		</property>
	</bean>
</beans>
