<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="gfSdPick11DAO" class="com.gf.pick11.sdpick11.dao.hibernate.SdPick11DAOHibernate">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>	
	<bean id="gfSdPick11Service" parent="hibernateTransactionProxy">
	    <property name="target">
	        <bean class="com.gf.pick11.sdpick11.service.impl.SdPick11ServiceImpl">
	            <property name="gfSdPick11DAO"><ref local="gfSdPick11DAO"/></property>
	            <property name="userService"><ref bean="userService"/></property>
	             <property name="gaService"><ref bean="gaService"/></property>
	        </bean>
	    </property>
	</bean>


	<!-- 初始化期号-->
	<bean name="initGfSdPick11SessionJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.pick11.sdpick11.service.impl.InitSdPick11Session</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfSdPick11Service"><ref bean="gfSdPick11Service" /></entry>
			</map>
		</property>
	</bean>
	<bean id="initGfSdPick11Session" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="initGfSdPick11SessionJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean>
	
	<!-- 抓取开奖结果 -->
	<bean name="fetchGfSdPick11ResultJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.pick11.sdpick11.service.impl.FetchSdPick11Result</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfSdPick11Service"><ref bean="gfSdPick11Service" /></entry>
			</map>
		</property>
	</bean> 
	<bean id="fetchGfSdPick11Result" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfSdPick11ResultJob" />
		</property>
		<property name="cronExpression">
			<value>32 5/10 9-23 * * ?</value>
		</property>
	</bean>
	
    <!-- 更新冷热排行榜 -->
    <bean name="updateGfSdPick11GaTrendJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
            <value>com.gf.pick11.sdpick11.service.impl.UpdateSdPick11GaTrend</value>
        </property>
        <property name="jobDataAsMap">
            <map>
                <entry key="gfSdPick11Service"><ref bean="gfSdPick11Service"/></entry>
            </map>
        </property>
    </bean>
    <bean id="updateGfSdPick11GaTrend" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="updateGfSdPick11GaTrendJob"/>
        </property>
        <property name="cronExpression">
            <value>32 9/10 9-23 * * ?</value>
        </property>
    </bean>
		
   <!-- 更新每期遗漏数据 -->
	<bean name="fetchGfSdPick11OmitJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.gf.pick11.sdpick11.service.impl.UpdateSdPick11GaOmit</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="gfSdPick11Service"><ref bean="gfSdPick11Service" /></entry>
			</map>
		</property>
	</bean>
	<bean id="fetchGfSdPick11Omit" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="fetchGfSdPick11OmitJob" />
		</property>
		<!--  每天的x点到x点间隔多少分钟抓取数据 这里是9点到23点，每隔10分钟抓取数据 -->
		<property name="cronExpression">
			<value>32 2/10 9-23 * * ?</value>
		</property>
	</bean>
		
	<!-- 加载 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="initGfSdPick11Session" />
				<ref local="fetchGfSdPick11Result"/>
				<ref local="updateGfSdPick11GaTrend" />
				<ref local="fetchGfSdPick11Omit"/>
			</list>
		</property>
	</bean>
	
</beans>
